NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_FUNCTION_URL=https://your-project-ref.supabase.co/functions/v1/api
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_public_or_publishable_key
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=saju-images
